@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';
@plugin "@iconify/tailwind4";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-fira-code: var(--font-fira-code);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: oklch(0.2002 0 0);
  --foreground: oklch(0.9731 0 0);
}

@layer utilities {
  .slide-enter-content > * {
    --stagger: 0;
    --delay: 150ms;
    --start: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
  }

  .slide-enter-content > *:nth-child(1) {
    --stagger: 1;
  }
  .slide-enter-content > *:nth-child(2) {
    --stagger: 2;
  }
  .slide-enter-content > *:nth-child(3) {
    --stagger: 3;
  }
  .slide-enter-content > *:nth-child(4) {
    --stagger: 4;
  }
  .slide-enter-content > *:nth-child(5) {
    --stagger: 5;
  }
  .slide-enter-content > *:nth-child(6) {
    --stagger: 6;
  }
  .slide-enter-content > *:nth-child(7) {
    --stagger: 7;
  }
  .slide-enter-content > *:nth-child(8) {
    --stagger: 8;
  }
  .slide-enter-content > *:nth-child(9) {
    --stagger: 9;
  }
  .slide-enter-content > *:nth-child(10) {
    --stagger: 10;
  }
  .slide-enter-content > *:nth-child(11) {
    --stagger: 11;
  }
  .slide-enter-content > *:nth-child(12) {
    --stagger: 12;
  }
  .slide-enter-content > *:nth-child(13) {
    --stagger: 13;
  }
  .slide-enter-content > *:nth-child(14) {
    --stagger: 14;
  }
  .slide-enter-content > *:nth-child(15) {
    --stagger: 15;
  }
  .slide-enter-content > *:nth-child(16) {
    --stagger: 16;
  }
  .slide-enter-content > *:nth-child(17) {
    --stagger: 17;
  }
  .slide-enter-content > *:nth-child(18) {
    --stagger: 18;
  }
  .slide-enter-content > *:nth-child(19) {
    --stagger: 19;
  }
  .slide-enter-content > *:nth-child(20) {
    --stagger: 20;
  }

  .prose code::before {
    @apply content-[''];
  }

  .prose code::after {
    @apply content-[''];
  }

  .prose code {
    @apply p-px rounded-md cursor-pointer relative overflow-hidden;
  }

  .prose a {
    @apply no-underline relative;
  }

  .prose a::after {
    @apply content-[''] absolute bottom-1 left-0 w-0 h-px bg-red-400 rounded-full transition-all duration-300;
  }

  .prose a:hover::after {
    @apply w-full;
  }


}

@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
