@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@theme {
  --font-alata: "Alata", sans-serif;
}

#__nuxt {
  -webkit-tap-highlight-color: transparent;
} 

