
:root {
  --background: 0 0% 5%;
  --foreground: 0 0% 90%;
  --border: 220 13% 17%;
}


#__nuxt {
  --at-apply: bg-background text-foreground min-h-screen font-serif;
}

p {
  --at-apply: leading-tight break-words;
}
